############################################################
# KUBERNETES CONFIG 
############################################################
unset DOCKER_HOST
unset DOCKER_TLS_VERIFY
export TEST_APP_NAMESPACE_NAME=cust-portal
export KUBECONFIGDIR=~/.kube
export KUBECONFIG=$KUBECONFIGDIR/config
export CONJUR_CONFIG_MAP=conjur-config
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_NAMESPACE_NAME=cyberark
export AUTHENTICATOR_ID=demo-cluster
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SECRETLESS_BROKER_IMAGE=cyberark/secretless-broker:latest
export CONJUR_FOLLOWER_COUNT=1
export DEPLOY_MASTER_CLUSTER=false
export MINIKUBE=false
export DOCKER_REGISTRY_PATH=$CONJUR_MASTER_HOST_IP:5000
export DOCKER_REGISTRY_URL=$DOCKER_REGISTRY_PATH
