# PAS configuration parameters

# Connection input
export PAS_IIS_SERVER_IP=192.168.2.133
export PAS_ADMIN_NAME=Admin1
export PAS_ADMIN_PASSWORD=Cyberark1

# Safe input
export PAS_VAULT_NAME=DemoVault
export PAS_SAFE_NAME=CICD_Secrets
export PAS_CPM_NAME=PasswordManager
export PAS_LOB_NAME=CICD

# Account input
export PAS_ACCOUNT_NAME=NewTestAccount
export PAS_PLATFORM_ID=WinServerLocal
export PAS_ADDRESS=WIN-T4KRGHVATN4
export PAS_USERNAME=Administrator
export PAS_SECRET_TYPE=password
export PAS_SECRET_VALUE=\$uper\$ecretPa55w0rd!

# DAP configuration parameters

# DAP connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master:30443
export CONJUR_ACCOUNT=dev

# Human admin user login w/ password
export CONJUR_USER=admin
export CONJUR_PASSWORD=Cyberark1

# Conjur identities to be given consumer access to safe variables
NUM_IDENTITIES=3
declare -a IDENTITY_LIST=(
"!layer client/nodes"
"!host client/node"
"!group client/admins"
)
