# Java demo configuration parameters

# Java keystore parameters
export CONJUR_CERT_FILE=../k8s-kube/conjur-cache/conjur-dev.pem
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# Conjur connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master:30443
export CONJUR_ACCOUNT=dev

# Human user login w/ password - commented out in java code
export CONJUR_USER=admin
export CONJUR_PASSWORD=Cyberark1

# Conjur host authn creds & the variable name to retrieve.
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=njs5zj3w3a4r24673ca3nps4avskpsan1jrdge5378eps63d60jxk
export CONJUR_VAR_ID=cicd-secrets/test-db-password
