# Java demo configuration parameters


						# Conjur host authn creds 
export CONJUR_AUTHN_LOGIN=host/client/node1
export CONJUR_AUTHN_API_KEY=2ggfmwc1ve6dqt34y9wej38zdvx52qyajzg19ez58twrp6tq1hx6vhn

export CONJUR_VAR_ID=secrets/db-password	# Variable to retrieve






# Java keystore parameters
export CONJUR_CERT_FILE=~/conjur-etc/conjur-dev.pem
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# Conjur connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master:30443
export CONJUR_ACCOUNT=dev

# Human user login w/ password - commented out in java code
export CONJUR_USER=admin
export CONJUR_PASSWORD=Cyberark1
