############################################################
# KUBERNETES CONFIG 
############################################################

# DOCKER & CLUSTER
#export KUBECONFIGDIR=$DAP_HOME/k8s-kube			# directory for kubeconfig
#export KUBECONFIG=$KUBECONFIGDIR/config			# path to kubeconfig file
export DOCKER_REGISTRY_URL=192.168.1.143:5000		# host & port of registry
export DOCKER_EMAIL=""			# login info for registry
export DOCKER_USERNAME=""
export DOCKER_PASSWORD=""

###################
# Extra stuff to direct to minikube docker daemon - delete for real K8s
#export MINIKUBE=true
#export DOCKER_TLS_VERIFY="1"
#export DOCKER_HOST="tcp://192.168.99.100:2376"
#export DOCKER_CERT_PATH="/Users/josephhunt/.minikube/certs"
#export DOCKER_API_VERSION="1.23"
###################

# DAP CLUSTER ARTIFACTS
export CONJUR_CONFIG_MAP=conjur-config		# conjur configuration data
export TEST_APP_NAMESPACE_NAME=testapps		# namespace for apps
export AUTHENTICATOR_ID=dev-atx 		# unique identifier for the k8s cluster

###########################################################
# Values below should not be changed
###########################################################

export CLI=kubectl
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_FOLLOWER_COUNT=1
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SEED_FETCHER_IMAGE=seed-fetcher:latest
export IMAGE_PULL_POLICY=IfNotPresent
export APP_CONFIG_MAP=$TEST_APP_NAMESPACE_NAME-config	# app configuration data
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
export CONJUR_CLUSTER_LOGIN="host/conjur/authn-k8s/$AUTHENTICATOR_ID/apps/$CONJUR_NAMESPACE_NAME/service_account/$CONJUR_SERVICEACCOUNT_NAME"
export SECRETLESS_APP_IMAGE=secretless:latest
export SECRETLESS_BROKER_IMAGE=cyberark/secretless-broker:latest
export SECRETLESS_SERVICEACCOUNT_NAME=secretless-broker

# Dummy users for OpenShift RBAC
export CLUSTER_ADMIN_USERNAME=foo	# Cluster admin role
export FOLLOWER_ADMIN_USERNAME=bar	# DAP Follower admin role
export DEVELOPER_USERNAME=baz		# Developer role
