# URL hostname should be Public DNS where Conjur is running
export CONJUR_MASTER_HOSTNAME=
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
# Service ID specifies which Conjur IAM authenticator to use
export AUTHN_IAM_SERVICE_ID=dev
# Login is host identity specified in Conjur policy
export APPLICATION_NAME=cust-portal
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/313705343335/EC2SecretsAccess
export CONJUR_ACCOUNT=dev
export CONJUR_CERT_FILE=/home/ubuntu/conjur-$CONJUR_ACCOUNT.pem
