# URL hostname should be Public DNS where Conjur is running
export CONJUR_MASTER_HOSTNAME=
export AWS_ACCOUNT=
export AWS_IAM_ROLE=
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
# Service ID specifies which Conjur IAM authenticator to use
export AUTHN_IAM_SERVICE_ID=dev
# Login is host identity specified in Conjur policy
export APPLICATION_NAME=cust-portal
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/$AWS_ACCOUNT/$AWS_IAM_ROLE
export CONJUR_ACCOUNT=dev
export CONJUR_CERT_FILE=./conjur-$CONJUR_ACCOUNT.pem
