# URL hostname should be Public DNS where Conjur is running
KOCH_MASTER=ec2-13-59-161-219.us-east-2.compute.amazonaws.com
TEST_MASTER=ec2-3-14-251-142.us-east-2.compute.amazonaws.com
export CONJUR_MASTER_HOSTNAME=$KOCH_MASTER
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
# Service ID specifies which Conjur IAM authenticator to use
export AUTHN_IAM_SERVICE_ID=dev
# Login is host identity specified in Conjur policy
export APPLICATION_NAME=cust-portal
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/313705343335/EC2SecretsAccess
export CONJUR_ACCOUNT=dev
export CONJUR_CERT_FILE=/home/ubuntu/conjur-$CONJUR_ACCOUNT.pem
