export TOWER_IMAGE_NAME=tower:latest
export TOWER_EXTERNAL_PORT=443
export TOWER_INTERNAL_PORT=443
export TOWER_EXTERNAL_URL=https://$CONJUR_MASTER_HOST_NAME:$TOWER_EXTERNAL_PORT
export TOWER_USER=eva
export TOWER_PASSWORD=Cyberark1
export TOWER_ORGANIZATION=CyberArk
export FILES_DIR=./files
export LICENSE_FILE=$FILES_DIR/license.json
export CRED_FILE=$FILES_DIR/cred.json
